<div class="flex-container-profile">
  <div><%= image_tag @profile_pic.url , :class => 'profile' %></div>
</div>

<div class="flex-container-10">
  <div class="flex-container-9-4">
    <div class="flex-container-12-1">


      <div class="flex-container-show-row">
        <div class="p-left-form">
          <p><strong>Name:</strong></p>
        </div>
        <div class="p-left-show-right">
          <p><%= @company.user.name %> <%= @company.user.surname %></p>
        </div>
      </div>
      <div class="flex-container-show-row">
        <div class="p-left-form">
          <p><strong>E-mail:</strong></p>
        </div>
        <div class="p-left-show-right">
          <%= @company.user.email %></p>
        </div>
      </div>
      <div class="flex-container-show-row">
        <div class="p-left-form">
          <p><strong>Company:</strong></p>
        </div>
        <div class="p-left-show-right">
          <%= @company.company %></p>
        </div>
      </div>
      <div class="flex-container-show-row">
        <div class="p-left-form">
          <p><strong>Website:</strong></p>
        </div>
        <div class="p-left-show-right">
          <%= @company.website %></p>
        </div>
      </div>
      <div class="flex-container-show-row">
        <div class="p-left-form">
          <p><strong>Member since:</strong></p>
        </div>
        <div class="p-left-show-right">
          <%= @company.user.created_at.strftime("%b. %Y") %></p>
        </div>
      </div>
    </div>
  </div>
</div>


<p><%= link_to 'Choose profile picture', "/companies/picture", class: "link-3" %>
|| <%= link_to 'Edit profile information', "/companies/edit", class: "link-3" %>
|| <%= link_to 'Change password', "/auth/password_reset", method: 'post' , class: "link-3" %>
|| <%= link_to 'Go back', "/companies/home", class: "link-3" %></p>

