<%= form_with model: @founder, local: true do |form| %>
 
  <% if @founder.errors.any? %>
    <div id="error_explanation">
      <h2> 
        <%= pluralize(@founder.errors.count, "error") %> prohibited
        this founder from being saved:
      </h2>
      <ul>
        <% @founder.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <div class="flex-container-10">
    <div class="flex-container-9-4">
      <div class="flex-container-12-1">
        <div class="p-left">
          Initially, companies only see the visible section (see below) of your profile. Companies that are interested in contacting you and pay our $300 matching fee get access to the hidden section of your profile. Only companies that we have approved have access to Froggodoggo, so even the visible section is not published publicly. 
        </div>
        <div class="p-left">
          If you need some inspiration to fill in your profile, check out our <%= link_to 'blogpost', "https://froggodoggo.com/blog/successful-profile/", target: "_blank", class: "link-3" %> :)
        </div> 

        <h2>Hidden section</h2>
        <%= form.fields_for :user do |user_field| %>
          <div class="flex-container-form-column">
            <p><strong>Name:</strong></p>
            <%= user_field.text_field :name, :class => "form-field"%>
          </div>

          <div class="flex-container-form-column">
            <p><strong>Surname:</strong></p>
            <%= user_field.text_field :surname, :class => "form-field" %>
          </div>

          <div class="flex-container-form-column">
            <p><strong>E-mail:</strong></p>
            <%= user_field.text_field :email, :class => "form-field"%>
          </div>

          <%= user_field.hidden_field :id, :value => @founder.user.id %>        

        <% end %>

        <div class="flex-container-form-column">
          <p><strong>Based in (Country):</strong></p>
          <%= form.text_field :based_in, :class => "form-field"%>
        </div> 

        <div class="flex-container-form-column">
          <p><strong>Company:</strong></p>
          <%= form.text_field :company, :class => "form-field"%>
        </div>

        <div class="flex-container-form-column">
          <p><strong>Website:</strong></p>
          <%= form.url_field :website, :class => "form-field"%>
        </div> 

        <div class="flex-container-form-column">
          <p><strong>Github (or similar):</strong></p>
          <%= form.url_field :github, :placeholder => "e.g. URL to your Github or Dribble page", :class => "form-field"%>
        </div>
        
        <div class="p-left">
          <h2>Visible section</h2>
          The following information is visible to all companies on Froggodoggo. Make sure not to include any info that might identify you or your projects (like names or higly specific details). We will review changes you make to fields marked with a * to ensure your anonymity.
        </div>

        <div class="flex-container-form-column">
          <p><strong>Ideally, how much would you work on your side gig?</strong></p>
          <%= form.select :days_per_week, [[Founder::DAYS_PER_WEEK_FORMATTED['one'], 'one'], [Founder::DAYS_PER_WEEK_FORMATTED['two'], 'two'], [Founder::DAYS_PER_WEEK_FORMATTED['three'], 'three'], [Founder::DAYS_PER_WEEK_FORMATTED['four'], 'four'], [Founder::DAYS_PER_WEEK_FORMATTED[ 'five'], 'five']], {include_blank: true}, {:class => "form-field"} %>
        </div>

        <div class="flex-container-form-column">
          <p><strong>As far as you can tell now, for how long do you want a side gig?</strong></p>
          <%= form.select :duration, [[Founder::DURATION_FORMATTED['one'], 'one'], [Founder::DURATION_FORMATTED['twotothree'], 'twotothree'], [Founder::DURATION_FORMATTED['fourtosix'], 'fourtosix'], [Founder::DURATION_FORMATTED['seventotwelve'], 'seventotwelve'], [Founder::DURATION_FORMATTED['overtwelve'], 'overtwelve']], {include_blank: true}, {:class => "form-field"} %>
        </div>

        <div class="flex-container-form-column">
          <p><strong>What is your speciality?</strong></p>
          <%= form.select :specialisation, [[Founder::SPECIALISATION_FORMATTED['fullstack'], 'fullstack'], [Founder::SPECIALISATION_FORMATTED['frontend'], 'frontend'], [Founder::SPECIALISATION_FORMATTED['backend'], 'backend'], [Founder::SPECIALISATION_FORMATTED['UXUI'], 'UXUI'], [Founder::SPECIALISATION_FORMATTED['QA'],'QA'], [Founder::SPECIALISATION_FORMATTED['datascience'],'datascience']], {include_blank: true}, {:class => "form-field"} %>
        </div>

        <div class="flex-container-form-column">
          <p><strong>How many years have you been working in software?</strong></p>
          <%= form.text_field :years_in_software, :class => "form-field"%>
        </div>

        <div class="flex-container-form-column">
        <p><strong>What are your top 5 tech skills?</strong></p>

        <div class="flex-container-form-row">
          <div class="p-left-form">Tech name</div>
          <div class="p-left-form">Proficency</div> 
          <div class="p-left-form">Years of experience</div>
        </div>

        <%= form.fields_for :tech_breakdowns do |tech_field| %>


            <div class="flex-container-form-row">
              <%= tech_field.text_field :name, :placeholder => "e.g. Ruby on Rails", :class => "form-field-inline"%>
 
              <%= tech_field.select :proficiency, [["low", 'low'], ["medium", 'medium'], ["high", 'high']] , {include_blank: true}, {:class => "form-field-inline"} %>
  

              <%= tech_field.text_field :experience, :placeholder => "e.g. 5", :class => "form-field-inline"%>
            </div>

        <% end %>       
        </div>

        <div class="flex-container-form-column">
          <p><strong>What does your company do (in one sentence)? *</strong></p>
          <%= form.text_area :company_description, :placeholder => "Be short and concise. For example:\nWe help people adopt cats and dogs by making the adoption process quick and simple.", :class => "form-field", rows: 3 %>
        </div>

        <div class="flex-container-form-column">
          <p><strong>What have you done so far? *</strong></p>
          <%= form.text_area :done_so_far, :placeholder => "Be concrete and highlight impressive things. For example:\nI've launched my current startup in October and we now have 2,000 monthly active users just through word-of-mouth. Before starting this company, I was a software engineer at Netflix for 3 years where I worked on improving the recommendation algorithm. My team there helped increase user engagement rates by 80%.", :class => "form-field", rows: 7 %>
        </div>

        <div class="flex-container-form-column">
          <p><strong>What's the coolest thing you worked on? *</strong></p>
          <%= form.text_area :cool_work, :placeholder => "Don't hesitate to be goofy. For example:\nDuring an internal Netflix hackathon, I worked on a browser plugin which let you easily record funny voice overs while streaming content on Netflix. For obvious legal reasons, we never released it :)", :class => "form-field", rows: 6 %>
        </div>

        <div class="flex-container-form-column">
          <p><strong>What's the most impressive thing you've built? *</strong></p>
          <%= form.text_area :impressive_build, :placeholder => "What are you most proud of? For example:\nI'm proud that I launched my current company super quickly. It took me 1 month from idea to first real users, and then another two weeks for first paying customer.", :class => "form-field", rows: 6 %>
        </div>

        <div class="flex-container-form-column">
          <p><strong>What is not important now but will be in 5 years? *</strong></p>
          <%= form.text_area :important_in_5years, :placeholder => "Come across as genuine. For example:\nVirtual reality. I use it every day,  but many people see it as a toy, but soon it will replace the laptop for many users, change the way we socialize online for the better, and will have immense impact on improving education.", :class => "form-field", rows: 6 %>
        </div>   

        <div class="flex-container-form-column">
          <p>Before you klick save, make sure you filled in all fields and didn't mention your name or the name of your startup in the "Visible section" of your profile. Thank you :)</p>
        </div> 
      </div>
    </div>
  </div>

  <div class="flex-container-18">
    <p>
      <%= form.submit 'Save', :class => 'button' %>
    </p>
  </div>

<% end %>
