<h1>Listing founders</h1>
<%= link_to 'New founder', new_founder_path %> 

<table>

  <tr>
    <th>Name</th>
    <th>Surname</th>
    <th>Email</th>
    <th>Password</th>
    <th>Role</th>
    <th>Company</th>
    <th>Website</th>
    <th>Github</th>
    <th></th>
  </tr>
 
  <% @founders.each do |founder| %>
    <tr>
      <td><%= founder.user.name %></td>
      <td><%= founder.user.surname %></td>
      <td><%= founder.user.email %></td>
      <td><%= founder.user.password %></td>
      <td><%= founder.user.role %></td>
      <td><%= founder.company %></td>
      <td><%= founder.website %></td>
      <td><%= founder.github %></td>
      <td><%= link_to 'Show', founder_path(founder) %></td>
      <td><%= link_to 'Edit', edit_founder_path(founder) %></td>
      <td><%= link_to 'Destroy', founder_path(founder), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>

</table>