<h1>Payment Overview</h1>

<p>
  <strong>Name:</strong>
  <%= @founder.user.name %>
  <%= @founder.user.surname %>
</p>
 
<p>
  <strong>Payments:</strong>
<!--   <%= @founder.user.password %> -->
</p>

<td><%= link_to 'Payment Settings', "/founders/#{@founder.id}/payment_settings" %></td>
<td><%= link_to 'Back', "/founders/#{@founder.id}/home" %></td>
