<h1>Review founder entries</h1>
<div class="flex-container-10">
  <div class="flex-container-9-4">
    <div class="flex-container-12-1">
      <% @unreviewed_entries.each do |review| %>
        <div class="flex-container-form-column">
          <% pic_id = review.founder.user.profile_picture_id %>
          <% pic = @profile_pictures.where(id: pic_id).last %>
          <% pic_url = pic.url %>
          <div><%= image_tag pic_url , :class => 'icon' %></div>
        </div>
        <div class="flex-container-form-column">
          <div class="p-left">
            <p><strong>Founder:</strong></p>
          </div>
          <div class="p-left">
            <p><%= review.founder_id %></p>
          </div>
        </div>
        <div class="flex-container-form-column">
          <div class="p-left">
            <p><strong>Name:</strong></p>
          </div>
          <div class="p-left">
            <p><%= review.founder.user.name %>
            <%= review.founder.user.surname %></p>
          </div>
        </div>
        <div class="flex-container-form-column">
          <div class="p-left">
            <p><strong>Email:</strong></p>
          </div>
          <div class="p-left">
            <p><%= review.founder.user.email %></p>
          </div>
        </div>
        <div class="flex-container-form-column">
          <div class="p-left">
            <p><strong>Based in:</strong></p>
          </div>
          <div class="p-left">
            <p><%= review.founder.based_in %></p>
          </div>
        </div>
        <div class="flex-container-form-column">
          <div class="p-left">
            <p><strong>Company:</strong></p>
          </div>
          <div class="p-left">
            <p><%= review.founder.company %></p>
          </div>
        </div>
        <div class="flex-container-form-column">
          <div class="p-left">
            <p><strong>Website:</strong></p>
          </div>
          <div class="p-left">
            <p><%= review.founder.website %></p>
          </div>
        </div>
        <div class="flex-container-form-column">
          <div class="p-left">
            <p><strong>Github:</strong></p>
          </div>
          <div class="p-left">
            <p><%= review.founder.github %></p>
          </div>
        </div>
        <div class="flex-container-form-column">
          <div class="p-left">
            <p><strong>Days per week:</strong></p>
          </div>
          <div class="p-left">
            <p><%= review.founder.days_per_week %></p>
          </div>
        </div>
        <div class="flex-container-form-column">
          <div class="p-left">
            <p><strong>Duration:</strong></p>
          </div>
          <div class="p-left">
            <p><%= review.founder.duration %></p>
          </div>
        </div>
        <div class="flex-container-form-column">
          <div class="p-left">
            <p><strong>Speciality:</strong></p>
          </div>
          <div class="p-left">
            <p><%= review.founder.specialisation %></p>
          </div>
        </div>
        <div class="flex-container-form-column">
          <div class="p-left">
            <p><strong>Years in software:</strong></p>
          </div>
          <div class="p-left">
            <p><%= review.founder.years_in_software %></p>
          </div>
        </div>
        <div class="flex-container-form-column">
          <div class="p-left">
            <p><strong>Tech:</strong></p>
          </div>
          <% review.founder.tech_breakdowns.each do |tech_breakdown| %>
            <% if tech_breakdown.name.present? %>
              <div class="flex-container-form-row">
                <div class="p-left">
                  <%= tech_breakdown.name %>, <%= tech_breakdown.proficiency %>, <%= tech_breakdown.experience %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="flex-container-form-column">
          <div class="p-left">
            <p><strong>Company description:</strong></p>
          </div>
          <div class="p-left">
            <p><%= review.company_description %></p>
          </div>
        </div>
        <div class="flex-container-form-column">
          <div class="p-left">
            <p><strong>Done so far:</strong></p>
          </div>
          <div class="p-left">
            <p><%= review.done_so_far %></p>
          </div>
        </div>
        <div class="flex-container-form-column">
          <div class="p-left">
            <p><strong>Cool work:</strong></p>
          </div>
          <div class="p-left">
            <p><%= review.cool_work %></p>
          </div>
        </div>
        <div class="flex-container-form-column">
          <div class="p-left">
            <p><strong>Impressive build:</strong></p>
          </div>
          <div class="p-left">
            <p><%= review.impressive_build %></p>
          </div>
        </div>
        <div class="flex-container-form-column">
          <div class="p-left">
            <p><strong>Important in 5 years:</strong></p>
          </div>
          <div class="p-left">
            <p><%= review.important_in_5years %></p>
          </div>
        </div>
        <%= form_tag("/founders/review_admin_accepted?reviewed_founder_id=#{review.founder_id}") do %>
          <%= submit_tag 'Accept founder entries', :class => 'button' %>
        <% end %>

      <hr color = "white" width="100%" display = block margin = 0 padding = 0>
      <% end %>
    </div>
  </div>
</div>
