<!DOCTYPE html>
<html>
  <head>
    <title>Froggodoggo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<%= render "layouts/header" %>

  <body>
    <div class="flex-container-14">
      <div class="flex-container-15">
        <%= yield %>
      </div>  
    </div>
  </body>

<%= render "layouts/footer" %>

</html>
